/*
--------------INTRODUCTION SECTION---------------------
*/

section#introduction {
  background-image: url("../images/residence-stock.svg");
  width: 100%;
  height: 60vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;

  color: var(--off-white);
}

section#introduction h1 {
  font-size: 2.3rem;
  width: 100%;
}

section#introduction a.call-us {
  color: var(--light-blue);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 0.5rem;
}

section#introduction div.button-group {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
section#introduction div.button-group a {
  padding: 0.6rem 1.3rem;
  border: 1px solid var(--off-white);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/*
-----------------SERVICES SECTION-----------------------
*/

section#services {
  background-color: var(--light-blue);
  width: 100%;
  text-align: center;
  padding-block: 2rem;
  color: var(--dark-blue);
  padding-bottom: 4rem;
}

section#services h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section#services ul {
  color: var(--off-white);
  list-style-type: none;
  text-align: start;
  width: 80%;
  margin: 1rem auto 2.5rem auto;
}

section#services ul li {
  margin-bottom: 1rem;
  border-left: 1px solid var(--off-white);
  border-bottom: 3px solid var(--off-white);
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  font-size: 1.4rem;
  cursor: pointer;
}

section#services ul li.service-call {
  display: flex;
  justify-content: space-between;
}

section#services ul li.service-call span {
  color: red;
}

section#services ul li.service-response {
  display: none;
}
section#services ul li.service-response.active {
  display: block;
  background-color: var(--dark-blue);
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

section#services ul li.service-call.active {
  color: var(--tan);
  background-color: var(--dark-blue);
}

section#services a.pricing-button {
  background-color: var(--red);
  color: var(--off-white);
  padding: 0.6rem 1.2rem;
  border-radius: 8px;

  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: -1px 1px 5px #000;
}

/*
------------CONTACT SECTION----------------
*/

section#contact {
  background-color: var(--dark-blue);
  width: 100%;
  text-align: center;
  color: var(--off-white);
}

section#contact .contact-info {
  margin-bottom: 4rem;
}

section#contact p {
  font-size: 18px;
  margin-top: 0.5rem;
  text-align: center;
  width: 80%;
  margin: 1rem auto 2rem auto;
}

section#contact p a.contact-link {
  color: var(--light-blue);
  text-decoration: underline;
  font-weight: 400;
  font-style: italic;
}

/*
---------------COLLAGE SECTION------------------------
*/

section#collage {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--off-white);
}

section#collage .image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
section#collage .image-box img {
  width: 250px;
  height: auto;
  /* aspect-ratio: 3/3; */
  border-radius: 8px;
}
